<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<style>
 .fieldError {
 border-color: #bd2130;
 }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div th:object="${tickets}">
        <h2>예매 내역</h2>
        <table id="userTable">
            <thead>
            <tr>
                <th>영화관</th>
                <th>제목</th>
                <th>상영 시간</th>
                <th>Economy 예약 좌석수</th>
                <th>Standard 예약 좌석수</th>
                <th>Prime 예약 좌석수</th>
                <th>가격</th>
                <th>상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ticket : ${tickets}">
                <td th:text="${ticket.movie.theater}"></td>
                <td th:text="${ticket.movie.movieName}"></td>
                <td th:text="${ticket.movie.movieTime}"></td>
                <td th:text="${ticket.economySeat}"></td>
                <td th:text="${ticket.standardSeat}"></td>
                <td th:text="${ticket.primeSeat}"></td>
                <td th:text="${ticket.price}"></td>
                <td th:text="${ticket.ticketStatus}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container --></body>
</html>