<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<style>
 .fieldError {
 border-color: #bd2130;
 }
</style>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div th:object="${user}">
    <h2 th:text="|Hello, *{id}!!|">ID</h2>
    <p>
      <a href="#" th:href="@{/service/{id}/search (id=${user.id})}" class="btn btn-lg btn-secondary" role="button">조회</a>
      <a href="#" th:href="@{/service/{id}/ticketing (id=${user.id})}" class="btn btn-lg btn-dark" role="button">예매</a>
      <a href="#" th:href="@{/service/{id}/makeMovie (id=${user.id})}" class="btn btn-lg btn-dark" role="button">영화 생성</a>
    </p>
  </div>

</div> <!-- /container --></body>
</html>