<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div class="jumbotron">
    <h1>영화 예매 시스템</h1>
    <p class="lead">영화 예매 서비스</p>
    <p>
      <a class="btn btn-lg btn-secondary" href="/tickets">조회</a>
      <a class="btn btn-lg btn-dark" href="/ticketing">예매</a>
    </p>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container --></body>
</html>