<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>영화 예매 시스템</h1>
        <p class="lead">로그인 및 회원 가입</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/login">로그인</a>
            <a class="btn btn-lg btn-dark" href="/newMember">회원가입</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container --></body>
</html>